@page "/addproduct"
@inject IProductService ProductService
@attribute [Authorize(Roles = "Administrator")]
@using System.Security.Claims


<AuthorizeView>   
    <Authorized Context="Auth">
        <h3 class="mt-4 mb-3">Lägg till produkt</h3>
        <EditForm Model="@productForm" OnSubmit="HandleSubmit">
            <DataAnnotationsValidator />
            <InputText @bind-Value="productForm.ArticleNumber" placeholder="Artikelnummer" class="form-control mb-3" />
            <InputText @bind-Value="productForm.ProductName" placeholder="Produkts Namn" class="form-control mb-3" />
            <InputText @bind-Value="productForm.Description" placeholder="Produkts Beskrivning" class="form-control mb-3" />
            <InputText @bind-Value="productForm.ImageUrl" placeholder="Produkts Bild" class="form-control mb-3" />
            <InputText @bind-Value="productForm.CategoryName" placeholder="Kategori" class="form-control mb-3" />
            <InputNumber @bind-Value="productForm.Price" placeholder="Pris (i SEK)" class="form-control mb-3" />
            <div class="mb-2 @msgCSS">
                <span>@message</span>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Skapa Produkt</button>
        </EditForm>
    </Authorized>
    <NotAuthorized>
        <h3 class="mt-5">Tyvärr, du har ingen rättigheter att kolla den här sidan.</h3>
        <h5><a href="login">Logga In</a> eller <a href="register">Registera</a></h5>
    </NotAuthorized>
</AuthorizeView>




@code {
    AddProductForm productForm = new AddProductForm();
    string message = string.Empty;
    string msgCSS = string.Empty;

    async Task HandleSubmit()
    {
        var result = await ProductService.CreateProduct(productForm);
        message = result.Message;
        msgCSS = result.Success ? "text-success" : "text-danger";
    }

}
